<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<p>this is piyush</p>-->
<!--<p><strong>this is piyush</strong></p>-->
<!--<p><em>this is piyush</em></p>-->
<!--<p><b>this is piyush</b></p>-->
<!--<p><i>this is piyush</i></p>-->

<!--<ol>-->
<!--    <li>first item</li>-->
<!--    <li>second item</li>-->
<!--    <ul>-->
<!--        <li>one</li>-->
<!--        <li>two</li>-->
<!--    </ul>-->
<!--</ol>-->
<!--<ul>-->
<!--    <li>first</li>-->
<!--    <li>second</li>-->
<!--</ul>-->

<!--<div>-->
<!--    <h3>HEY</h3>-->
<!--    <p>This is <span style="color:red;">melbourne</span></p>-->
<!--    <input type="color">-->
<!--</div>-->


<!--<h1>Course Sign Up page</h1>-->
<!--<form method="get" action="index.html">-->
<!--    <label>First Name:</label>-->
<!--    <input type="text" required placeholder="eg. John">-->
<!--    <label>Last Name:</label>-->
<!--    <input type="text" required placeholder="eg. snow"> <br>-->
<!--    <label>Email:</label>-->
<!--    <input type="email" required placeholder="eg. john@gmail.com">-->
<!--    <label>Password:</label>-->
<!--    <input type="password" required>-->


<!--<h3>Are you above age 18?</h3>-->
<!--<label for="age">Yes</label>-->
<!--<input id="age" type="radio" name="over" value="yes">-->
<!--<label for="no">No</label>-->
<!--<input id="no" type="radio" name="under" value="no">-->

<!--<h2>Pay via following: </h2>-->
<!--<select>-->
<!--    <option value="dc">Debit card</option>-->
<!--    <option value="cc">Credit card</option>-->
<!--    <option value="upi">UPI</option>-->
<!--    <option value="nb">Net banking</option>-->
<!--</select>-->
<!--<br>-->
<!--<input type="submit" name="" value="signup">-->
<!--    </form>-->

<h2 id="head">Color Pallet</h2>
<table class="main">
    <tr>
        <td id="one"></td>
        <td id="two"></td>
        <td id="three"></td>
        <td id="four"></td>
        <td id="five"></td>
    </tr>
</table>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Toggle width collapse
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px;">
      This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
    </div>
  </div>
</div>


</body>
<style>

#head{
    text-align: center;
}
    td{
        background-color: black;
        height: 300px;
        width: 150px;
    }
    .main{
        margin: auto;
    }
    #one{
        background-color: #390099
    }
    #two{
        background-color: #9e0059
    }
    #three{
        background-color: #ff0054
    }
    #four{
        background-color: #ff5400
    }
    #five{
        background-color: #ffbd00
    }
</style>
</html>